<div class="index-main">
  <div class="index-grid container">

  <%= render 'index/categories' %>

  <section>
    <div class="fl-block breadcrumb">
      Início > Produtos > <%= @product.category&.name %>
    </div>

    <div class="product-show fl-block">

    <div class="product-image">
      <% if @product.image.attached? %>
      <%= image_tag @product.image%>
      <% else %>
      <%= image_tag 'default-image' %>
      <% end %>
    </div>

    <div class="product-info">
      <h1 class="product-title">
        <%= @product.name %>
      </h1>

      <p class="product-description">
        <%= @product.description %>
      </p>

      <h3 class="product-value">
        <% if @product.discount&.positive? %>
        <small>
          <strike><%= @product.value_reais %></strike>
        </small>
        <%= @product.value_discounted_reais %>
        <% else %>
        <%= @product.value_reais %>
        <% end %>
      </h3>

      <% if @product.tension&.positive? %>
      <p>
        Tensão:
        <%= @product.tension %>
      </p>
      <% end %>

      <p>
        <% if @product.stock.positive? %>
        <%= @product.stock %> disponíveis
        <% else %>
        Sem estoque
        <% end %>
      </p>

      <div class="product-buttons">
        <%= link_to 'Adicionar ao carrinho', add_item_to_cart_path(@product.id), class: 'button success text-center',
            method: :post %>
      </div>

    </div>

  </div>
  </section>

  <%= render 'index/best_seller' %>

  </div>

</div>
